<div class="container">
    <h1 class="my-4" ng-show="textH1Carrinho">Carrinho|
        <small >Pedido</small>
    </h1>
    <h1 class="my-4" ng-show="textH1FinCompra">Finalizar Compra|
        <small >Dados</small>
    </h1>

    <table class="table col-sm-12">


        <thead class="thead-light col-lg-12">
        <tr>
            <th>Foto</th>
            <th>Descrição</th>
            <th>QTD</th>
            <th>Valor Un.</th>
            <th>Valor Total</th>
            <th ng-show="btremover">Ação</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="car in carrinho">
            <td width="90dp" height="90dp"><img class="img-fluid" src="data:image/png;base64,{{car.img}}" alt=""></td>
            <td>{{car.description}}</td>
            <td>{{car.quantity}}</td>
            <td>{{car.price.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}</td>
            <td>{{(car.price*car.quantity).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}</td>
            <td ng-show="btremover">
                <form>
                    <button class="btn btn-danger" ng-click="removerProduto(car.id)">Remover</button>
                </form>
            </td>
        </tr>


        </tbody>
    </table>

    <h1>Total: {{total}}</h1>
    <form>
        <button class="btn btn-primary float-right" ng-click="finalizarCompra()" ng-show="btfinalizarCompra">Finalizar Compra</button>
        <button class="btn btn-success  btn-block " ng-click="novaVenda()" ng-show="btConfirmarVenda">Confirmar</button>
    </form>
</div>
