<h2>Produtos da Categoria|<span class="text text-black-50"> {{categoria.description}}</span></h2>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-lg-3" ng-repeat="prod in produtos">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top flex-md-column-reverse" src="data:image/png;base64,{{prod.img}}"/>

                    <div class="card-body">
                        <b class="card-text">{{prod.description}}</b>

                        <div class="btn-group-sm">

                            <a class="btn btn-success" href="#!products/{{prod.id}}">Visualizar</a>
                            <a class="btn btn-primary">Add Carrinho</a>

                        </div>


                        <div class="card-group  ">

                            <h2 class="text-center">{{prod.promotionalPrice.toLocaleString('pt-br',{style: 'currency',
                                currency: 'BRL'})}} </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>