<div class="container">


    <h1 class="my-4">{{produto.category.description}}|
        <small>{{produto.description}}</small>
    </h1>


    <div class="row">

        <div class="col-md-6">
            <img class="img-fluid" src="data:image/png;base64,{{produto.img}}" alt="">
        </div>
        <div class="col-md-5">
            <div class="card h-70">
                <h4 class="card-header">{{produto.description}}</h4>
                <div class="card-body">
                    <p><b>Marca:</b> {{produto.brand}}</p>
                    <p><b>Categoria:</b> {{produto.category.description}}</p>
                    <p><b>Quantidade:</b> {{produto.quantity}}</p>

                    <form>
                        <div class="input-group">


                            <input class="form-control col-md-5" ng-model="product.qtd" type="number" value="1" min="1"
                                   max="{{produto.quantity}}"/>

                            <button class="btn btn-success" ng-click="addCarrinho(produto,product.qtd)">
                                Comprar
                            </button>
                        </div>


                        <div class="{{classAlert}}" style="margin-top:20px" ng-show="mostrar">
                            {{textAlert}}
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card h-50">
                <h4 class="card-header">Detalhes</h4>

            </div>
        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->


    <!--<div class="row">-->

    <!--<div class="col-md-3 col-sm-6 mb-4">-->
    <!--<a href="#">-->
    <!--<img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
    <!--</a>-->
    <!--</div>-->

    <!--<div class="col-md-3 col-sm-6 mb-4">-->
    <!--<a href="#">-->
    <!--<img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
    <!--</a>-->
    <!--</div>-->

    <!--<div class="col-md-3 col-sm-6 mb-4">-->
    <!--<a href="#">-->
    <!--<img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
    <!--</a>-->
    <!--</div>-->

    <!--<div class="col-md-3 col-sm-6 mb-4">-->
    <!--<a href="#">-->
    <!--<img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
    <!--</a>-->
    <!--</div>-->

    <!--</div>-->


</div>